[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
pandas = "*"
sounddevice = "*"
auto-py-to-exe = "*"
pandastable = "*"

[dev-packages]

[requires]
python_version = "3.8"
